@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<section class="row">
    <article class="col-md-4">
        <h2>Mission</h2>
        <p>At Melody's Muse, we believe music should be for everyone! That is why we work with talent to offer you the best possible prices.</p>
        <p></p>
    </article>
    <article class="col-md-4">
        <h2>Wide Selection</h2>
        <p>
            We strive to keep a plethera of options available to our customers and accomodate all tastes in music. Browse our online catalog to see more!
        </p>
        <p></p>
    </article>
    <article class="col-md-4">
        <h2>Quick Delivery</h2>
        <p>
            When an order comes in, we act fast! Our drivers will see to it that your new tune makes it to your doorstep in record time.         
        </p>
        <p></p>
    </article>
</section>