<section class="row">
    <article class="col-md-6">
        <h2>Contact</h2>
        <p>Keeping in contact with our customers is one way that we can deliver the best possible service. We would love to hear from you to know how we are doing and what <em>you</em> want. </p>
        <p></p>
    </article>
    <address class="col-md-4">
        Melody Mesa<br />
        Las Vagas, NV 33333-9999<br />
        <abbr title="Phone">P:</abbr>
        555.293.0100
    </address>
</section>